################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/EurofinsTask/bin
/EurofinsTask/obj/Debug
/.vs
